:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 300px;
}

.text-ok {
  color: green;
}

.text-error {
  color: red;
}

.status-text {
  font-weight: bold;
}

.root {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.velocity-container,
.logs-container {
  padding: 8px;
  margin: 0;
}

.velocity-container {
  column-span: 1;
  border: 1px solid #ccc;
}

.logs-container {
  column-span: 2;
  border: 1px solid #ccc;
}

.logs {
  margin: 0;
  padding: 4px;
  display: block;
  margin-bottom: 8px;
  border: 1px solid #777;
  max-height: 500px;
  max-width: 66%;
  overflow: auto;
}

.log-entry {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  border-bottom: 1px solid #aaa;
}

.log-entry_level {
  color: green;
}
.log-entry_node {
  color: orange;
}
